:root {
    --green: #33CC99;
    --white: #ffffff;
    --black: #000000;
    --purple-bg: #320D3E;
    --pink: #EC268F;
    --grey: #E6E7E8;
    --font-main: 'Poppins', sans-serif;
}


 .card {
    border: none;
    border-radius: 0px;
}

section .pink-card-2 .card-white {
    display: none;
}

section .pink-card-2 .card-black {
    display: block;
}

.pink-card-2:hover {
    background-color: var(--pink);
    color: var(--white);
}

.pink-card-2:hover .card-white {
    display: block;
}

.pink-card-2:hover .card-black {
    display: none;
}

.pink-card.active-card {
    background-color: var(--pink);
    color: var(--white);
}

.subtitle {
    font-size: 20px;
}

.grid-item-img {
    width: 60px;
    margin: auto;
    /* fill: var(--black); */
}

.grid {
    grid-template-columns: 21fr 20fr 21fr;
}

.item-one {
    background-color: var(--grey);
}

.item-one h2 {
    font-size: 28px;
    font-weight: 700;
}

.item-one ul {
    list-style: none !important; /* Remove default bullets */
}
  
.item-one ul li::before {
    content: "\2022"; 
    color: var(--pink); 
    font-weight: 900;
    display: inline-block; 
    width: 1em; 
    margin-left: -1em; 
}

.item-two h2 {
    font-size: 18px;
}

.item-two p {
    font-size: 16px;
}

.item-tre img {
    width: 100%;
    height: 100%;
}

@media (max-width: 575.98px) {

    .grid {
        grid-template-columns: 1fr;
    }
}
