:root {
    --green: #33CC99;
    --white: #ffffff;
    --black: #000000;
    --purple-bg: #320D3E;
    --pink: #EC268F;
    --grey: #E6E7E8;
    --font-main: 'Poppins', sans-serif;
}

body {
    background-image: url('../images/landing\ bg\ black.jpg') !important;
    background-size: cover;
    /* background-color: var(--black); */
    color: var(--white);
    letter-spacing: 1px;
}

header {
    margin-bottom: 30px;
}

h1 {
    font-size: 24px;
}

h2 {
    max-width: 450px;
    font-size: 21px;
}

p {
    max-width: 500px;
}

h3 {
    font-size: 20px;
}

a {
    color: var(--white);
}

i {
    color: var(--pink);
}


label {
    width: 100%;
}

input {
    width: 100%;
    background-color: var(--black);
    color: var(--white);   
    border: 1px solid var(--white); 
}

#message {
    height: 130px;
    padding-bottom: 100px !important;
}

.btn {
    background-color: var(--pink);
    color: var(--white);
}