/* landing section */

.landing-section {
    background-color: var(--purple-bg);
    height: 100vh;
    color: var(--white);
}

.landing-section .card {
    background-color: var(--purple-bg);
    margin-top: 150px;
    height: 67vh !important;
}

.landing-section .card .no-gutters {
    height: 100% !important;
}

.landing-carousel-img {
    height: 100vh !important;
}

.landing-carousel-images {
    background: transparent;
}

.carousel-inner {
    width: 100% !important;
}

.landing-btn {
    border-radius: 20px;
    background-color: var(--white);
    color: var(--purple-bg);
    padding: 10px 25px;
}

.carousel-control {
    position: relative !important;
    width: 50px !important;
    height: 30px;
    background-color: var(--white) !important;
}

.carousel-control a .carousel-control-prev-icon,
.carousel-control a .carousel-control-next-icon {
    color: var(--purple-bg) !important;
    background-image: none;
}

@media (max-width: 575.98px) {

    .landing-carousel-images-div {
        background: transparent !important;
        width: 120px;
        height: 200px;
        position: absolute;
        bottom: 10px;
        right: 10px;
    }

    .landing-section h2 {
        font-size: 20px;
    }

    .landing-carousel-images {
        background: transparent !important;
        width: 100%;
        height: 100%;
    }
}