:root {
    --green: #33CC99;
    --white: #ffffff;
    --black: #000000;
    --purple-bg: #320D3E;
    --pink: #EC268F;
    --grey: #E6E7E8;
    --font-main: 'Poppins', sans-serif;
}

/* landing section */

.landing-section {
    height: 100vh;
    color: var(--white);
    letter-spacing: 1px;
}

.landing-bg-two {
    background-image: url('../images/landing\ bg\ white.jpg') !important;
    background-size: cover;
    color: var(--black);
}

.landing-section .card {
    background: transparent !important;
    margin-top: 12.7vh;
    height: 85vh !important;
    border: none;
}

.landing-bg-one::after {
    content: '';
    position: absolute; 
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.6);
    z-index: 2;
}

.landing-bg-one .card .row {
    z-index: 3;
    margin-top: 100px;
}
.first-carousel {
    justify-content: flex-start!important;
}
.landing-bg-one {
    background-image: url('../images/landing\ bg\ black.jpg') !important;
    background-repeat: no-repeat !important;
    background-size: cover;
    color: var(--white);
}
.landing-img {
    height: 100%;
    top: 10px;
    opacity: 0.9;
    left: 50%;
    transform: translateX(-50%);
}

.landing-bg-one .landing-btn {
    background-color: var(--white);
    color: var(--black);
}.landing-section h1 {
    /* margin-top: 30px; */
    font-size: 25px;
    font-weight: 600;
}

.landing-section p {
    font-size: 16px;
}

.landing-bg-one .landing-btn {
    background-color: var(--pink);
    color: var(--white);
}

.landing-bg-two .landing-btn {
    background-color: var(--green);
    color: var(--white);
}

.carousel-inner {
    width: 100% !important;
}

.landing-btn {
    border-radius: 20px;
    background-color: var(--white);
    color: var(--purple-bg);
    padding: 10px 25px;
}

.carousel-control {
    left: 20px;
    bottom: 20px;
    width: 50px !important;
    height: 30px;
    background-color: transparent !important;
}

.carousel-control a .carousel-control-prev-icon,
.carousel-control a .carousel-control-next-icon {
    color: var(--green) !important;
    background-image: none;
}

.second-bar-title {
    transform: translateY(60px);
    opacity: 0;
    animation: go-up 1s forwards 1;
    animation-delay: .5s;
    transition: .7s;
    margin: 0px 0px 10px 0px;
}

.second-bar{
    transform: translateY(60px);
    opacity: 0;
    animation: go-up 1s forwards 1;
    animation-delay: .7s;
    transition: .7s;
    margin: 0px 0px 10px 0px;
}

.btn{
    cursor: pointer;
    transform: translateY(80px);
    opacity: 0;
    animation: go-up 1s forwards 1;
    animation-delay: 1.5s;
    transition: .5s;
}
@keyframes go-up{
    from{
        transform: translateY(80px);
        opacity: 1;
    }
    to{
        transform: translateY(0px);
        opacity: 1;
    }
}

section .pink-card {
    border: none;
    border-radius: 0px;
    border-bottom: 4px solid var(--pink) !important;
    height: 100%;
}
.card-img{
    width: 80px;
}

section .pink-card .card-white {
    display: none;
}

section .pink-card .card-black {
    display: block;
}

.pink-card:hover {
    background-color: var(--pink);
    color: var(--white);
}

.pink-card:hover .card-white {
    display: block;
}

.pink-card:hover .card-black {
    display: none;
}

.pink-card.active-card {
    background-color: var(--pink);
    color: var(--white);
}

.page-btn {
    background-color: var(--black);
    color: var(--white);
    border-radius: 20px;
    width: auto;
}

.subtitle {
    font-size: 20px;
}

/* team-section */

.team-section .col-sm-6 .card-img {
    height: 250px;
}
.partners img {
    width: 100%;
}
.testimonial{
    background-color: magenta;
    color: white;
}

/* Contact page */
.contact{
    display:flex;
}

.contact-title{
    margin: 3px 110px;
}

.contact form{
    display: block;
}

.aboutme__card input{
    border-color: grey;
}

.contact p{
    color: brown;
}

.aboutme__card button{
    background-color: black;
    color:white;
    padding: 7px;
    border: none;
    border-radius: 7px;
}

.contact h2{
    color: black;
    width: 5em;
}

.card-img-top{
    height:34px;
}

.aboutme{
    padding-bottom: 60px;
   justify-content: space-between; 
   background-color: #E5E5E5; 
}

.aboutme__guy{
    /* display: block; */
    height:50vh;
}


.aboutme__paragraph{
    width:50%;
    display: block;
    font-size: 18px;
    padding-top: 42px;
}

.aboutme__paragraph h3, .aboutme__paragraph p{
    padding: 7px 0 ;
    
}

.aboutme__paragraph h3{
    font-size: 40px;
    line-height: 40px;
}

.aboutme__paragraph p{
    width: 29em;
    line-height: 25px;
}

.aboutme__card{
    justify-content: space-between;
    margin: 0 auto;
    display: flex;
    box-sizing: border-box;
}

.imelda-pic{
    display: block;
    height:50vh;
}

.imelda__paragraph{
    width:40%;
    display: block;
    font-size: 18px;
    padding-top: 42px; 
    padding:5px;
}

.imelda__paragraph h3, .imelda__paragraph p{
    padding: 7px 0 ;
    line-height: 25px;
}

.imelda__paragraph h3{
    font-size: 40px;
    line-height: 40px;
}

.imelda{
    padding: 60px 0;
   justify-content: center;  
}

.get{
    background-color: white;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
}

.get form{
    padding: 0 0px;
    /* width: 50%; */
}

.get h2{
font-size: 35px;
}

.form1{
    display: block;
    
}

.get label{
    display: block;
}

.get__icon{
    /* width: 50%; */
    
}
.get__icon img{
    height: 40vh;
    float: right;
    display: block;
}
.name, .email{
    width: 350px;
    height: 50px;
    margin: 5px 0;
}


.message{
    width: 350px;
    height: 100px;
    margin: 5px 0;
    /* height: 420px; */
}

input{
    background-color:#F4F4F2;
    border: 0;
}

.aboutme__paragraph button{
    padding-bottom: 0px;
    background-color:var(--pink);
    color: black;
    border:none;
    padding: 8px;
    border-radius: 8px;
}

.get__icon{
    width: 50%;
}

.concerts__text{
    padding: 10px 0 ;
}


/* Mobile Setting */
@media (max-width:425.5px){
    .aboutme__card{
        justify-content: space-between;
        margin: 0 auto;
        display: block;
        box-sizing: border-box;
    }
    
    .aboutme{
        padding-bottom: 60px;
       justify-content: center; 
       background-color: #E5E5E5;
       display:block; 
    }

    .aboutme__guy{
        height:37vh;
        object-position: center;
    }

    .aboutme__paragraph{
        width:100%;
        display: block;
        padding-top: 42px; 
    }

    .aboutme__paragraph h3, .imelda__paragraph h3 {
        font-size: 25px;
        line-height: 31px;
    }



    .aboutme__paragraph p {
        width: 14em;
        line-height: 18px;
    }

    .imelda__paragraph{
        width:100%;
        display: block;
        font-size: 18px;
        padding-top: 42px; 
        border-radius: 10px;
        padding:5px;   
    }

    .imelda__paragraph p {
        width: 14em;
        line-height: 18px;
    }
}

@media (max-width: 575.98px) {

    .landing-section h1 {
        margin-top: 30px;
        font-size: 20px;
    }

    .landing-section p {
        font-size: 16px;
    }
    .image-flow {
        padding: 0px !important;
        flex-direction: column;
    }
}

@media (min-width: 1200px) {

    .landing-section h1 {
        /* margin-top: 30px; */
        font-size: 40px;
        font-weight: 700;
    }

    .landing-bg-one .card .row {
        z-index: 3;
        margin-top: 290px;
    }

    .landing-section p {
        font-size: 20px;
    }
    /* .first-carousel {
        padding-left: 100px;
        padding-right: 100px;
    } */
    .first-carousel .landing-btn {
        margin-right: 100px;
    }
    .image-flow {
        padding: 0px !important;
        flex-direction: row;
    }

    /* team-section */
    
    .team-section {
        padding: 10px 150px;
    }
    
}