:root {
    --green: #33CC99;
    --white: #ffffff;
    --black: #000000;
    --purple-bg: #320D3E;
    --pink: #EC268F;
    --grey: #E6E7E8;
    --font-main: 'Poppins', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none !important;
}
.team-header {
    background-image: url(..//images/meet\ our\ team.jpg) !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.team-header h5 {
    font-size: clamp(18px, 5vw, 40px);
    font-weight: 700;
}
.our-team h1{
    font-size: clamp(18px, 5vw, 34px);
    font-weight: 600;
}
.member-image{
    width: 100%;
    position: absolute;
    top: 0;
    background: #E6E7E8;
    left: 0;
    height: 100%;
    border-radius: 6px;
}
.member-image img{
    width: 100%;
    height: 100%;
}
.our-team p {
    font-size: clamp(15px, 2vw, 18px);
}
.contain{
    justify-content: space-evenly;
    display: flex;
    align-items: center;
    min-height: 100vh;
    max-width: 100%;
    flex-wrap: wrap;
}
.more-info{
    margin-top: 30px;
    display: none;
    transition: .5s;
}
.box{
    width: 350px;
    height: 370px;
    position: relative;
    background: #000;
    margin-bottom: 180px;
    position: relative;
    transition: .5s;
    box-shadow:hsla(0, 0%, 0%, 0.5) 0px 13px 29px 0px
}
.content{
    position: absolute;
    width: 88%;
    top: calc(100% - 20px);
    background: #fff;
    left: 6%;
    border-radius: 6px;
    height: 95px;
    text-align: center;
    padding: 10px;
    transition: .5s;
}
.box:hover .content{
    height: 170px;
}
.box:hover .more-info{
    display: unset;
}
#blur.active{
    filter: blur(20px);
    pointer-events: none;
    user-select: none;
}
.content h1, #popup1 h1,#popup2 h1,#popup3 h1,#popup4 h1,#popup5 h1,#popup6 h1{
    font-size: clamp(15px, 5vw, 24px);
    margin-bottom: 10px;
    font-weight: 700;
    color: #F25DB1;
}
.content p, #popup1 p,#popup2 p,#popup3 p,#popup4 p,#popup5 p,#popup6 p{
    font-size: clamp(13px, 2vw, 16px);
    margin-bottom: 20px;
    color: #000;
    font-weight: 500;
}
.content a, #popup1 a,#popup2 a,#popup3 a,#popup4 a,#popup5 a,#popup6 a{
    font-size: clamp(0.4em, 5vw, 0.8em);
    padding: 10px 20px;
    background-color: var(--green);
    color: #fff !important;
    border-radius: 40px;
    box-shadow: -4px -4px 15px rgba(255,255,255,1),
                4px 4px 15px rgba(0,0,0,.1);
}
.content a:hover, #popup1 a:hover,#popup2 a:hover,#popup3 a:hover,#popup4 a:hover,#popup5 a:hover,#popup6 a:hover{
    box-shadow: inset -4px -4px 10px rgba(255,255,255,.5),
                inset 4px 4px 10px rgba(0,0,0,.06);
}
#popup1,#popup2,#popup3,#popup4,#popup5,#popup6{
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: auto;
    padding: 50px;
    box-shadow: 0 5px 30px rgba(0,0,0,.3);
    background: #fff;
    z-index: 100;
    visibility: hidden;
    opacity: 0;
    transition: .5s;
}
#popup1.active,#popup2.active,#popup3.active,#popup4.active,#popup5.active,#popup6.active{
    visibility: unset;
    opacity: 1;
    top: 40%;
}
@media screen and (max-width:425px){
    #popup1,#popup2,#popup3,#popup4,#popup5,#popup6{
        width: 95%;
    }
}
@media screen and (max-width:375px){
    .box{
        width: 320px;
    }
}
@media screen and (max-width:320px){
    .box{
        width: 290px;
    }
    .content{
        height: 85px;
    }
}