:root {
    --green: #33CC99;
    --white: #ffffff;
    --black: #000000;
    --purple-bg: #320D3E;
    --pink: #EC268F;
    --grey: #E6E7E8;
    --font-main: 'Poppins', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* utility classes */

.container {
  max-width: 1200px !important;
}

.grid {
  display: grid;
}

header {
    background-color: var(--black);
    /* border-bottom: 5px solid var(--pink); */
    width: 100%;
    /* padding: 5px 40px; */
    z-index: 2;
}

header a {
    color: var(--white) !important;
}

header .navbar .active a {
  color: var(--pink) !important;
}

.logo {
    width: 70px;
    height: 60px;
}

.navbar ul li {
  letter-spacing: 3px;
}

/* hamburger */

.navbar .navbar-toggler {
    outline: none !important;
    border: none !important;
}

.navbar-light .navbar-toggler-icon {
   background-image: none !important;
}

.hamburger .line{
    width: 35px;
    height: 3px;
    background-color: var(--white);
    display: block;
    margin-bottom: 8px;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  
  .hamburger:hover{
    cursor: pointer;
  }
  
  #hamburger-1.is-active .line:nth-child(2){
    opacity: 0;
  }
  
  #hamburger-1.is-active .line:nth-child(1){
    -webkit-transform: translateY(13px) rotate(45deg);
    -ms-transform: translateY(13px) rotate(45deg);
    -o-transform: translateY(13px) rotate(45deg);
    transform: translateY(13px) rotate(45deg);
  }
  
  #hamburger-1.is-active .line:nth-child(3){
    -webkit-transform: translateY(-13px) rotate(-45deg);
    -ms-transform: translateY(-13px) rotate(-45deg);
    -o-transform: translateY(-13px) rotate(-45deg);
    transform: translateY(-13px) rotate(-45deg);
  }

 